:root{
    --page-width:50em;
    --primary-color:#0366d6;
}

.my-nav{
    width: 100%;
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
}

.container{
    padding-bottom: 0.5em;
    // border-bottom: 1px solid #ccc;
    // border-left: 1px solid #eee;
    // border-right: 1px solid #eee;
    // border-bottom: 1px solid #eee;
    background-color: white;
    // box-shadow: 0 0 3px #bbb; 
    // border-bottom-left-radius: 3px ;
    // border-bottom-right-radius: 3px ;
}

.description{
    color: #555;
}

hr{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.active{
    color:var(--primary-color) !important;
}

body{
    // padding-bottom:20px;
    // background: #f3f3f3;
    padding-bottom: 10px;
}

.pagination{
    height: 20px;
}

.paginator {
    text-align:left; 
}

.paginator ul li{
    display: inline-block;
    line-height:20px; 
    list-style:none;
}

.no_active{
    color: black;
}

.no-v-margin{
    margin-bottom: 0px;
    margin-top: 0px;
}

.author img{
    height: 80px;
    width: 80px;
}

hr{
    border-bottom: 0px dashed #eee;
    // margin-left: -20px;
    // margin-right: -20px;
}

.hr-border{
    border-bottom: 1px dashed #ccc;
}

.time{
    color: #a1a1a1;
}

.align-center{
    text-align: center;
}

.terminal-prompt::before {
    content: "";
}

code{
    background: #eee;
}

pre{
    background: #f3f3f3;
    border: 0px;
    border-radius: 12px;
}