<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="terminal">
	<div class="container">
		{% include nav.html %}
		<br>
		<h2 id="title"></h2>
		<script>
			type("#title",["> {{ page.title }}"]);
		</script>
		<p>> {{ page.date | date:"%Y/%m/%d" }}{% if page.author %}
			By {{page.author}}
			{% endif %}</p>
		<fieldset>
			<legend>
				<div class="btn-group">
					{%if page.previous.url%}
					<a class="btn btn-error btn-ghost" href="{{page.previous.url}}"><<</a>
					{%endif%}
					<!-- <a class="btn btn-default btn-ghost" href="{{site.baseurl}}/">Home</a> -->
					{%if page.next.url%}
					<a class="btn btn-primary btn-ghost" href="{{page.next.url}}">>></a>
					{%endif%}
				</div>
			</legend>
			<p>
				{{ content }}
			</p>
		</fieldset>
	</div>
</body>

</html>