---
layout: default
---
<div>
	<label class="time">{{ page.date | date:"%Y/%m/%d %H:%M:%S" }}{% if page.author %}</label>
	By {{page.author}}
	{% endif %}
	{% for category in page.categories %}
	<code>{{ category }}</code>
	{% endfor %}
</div>
<hr class="hr-border">
<p>
	{{ content }}
</p>
<hr>
<div class="pagination">
	{%if page.previous.url%}
	<a href="{{page.previous.url}}" style="float: right;">Older</a>
	{%endif%}
	<!-- <a class="btn btn-default btn-ghost" href="{{site.baseurl}}/">Home</a> -->
	{%if page.next.url%}
	<a href="{{page.next.url}}" >Newer</a>
	{%endif%}
</div>